pipeline/Foreach_Example_2.json
{
	"name": "Foreach_Example_2",
	"properties": {
		"activities": [
			{
				"name": "customer_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as records from [saleslt].[customer]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "customer_sqldb_adls_source_ds_generic",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "customer"
						}
					}
				}
			},
			{
				"name": "if_copy",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "customer_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('customer_data').output.firstRow.records,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "customer_sqldb_adls_source_ds_generic",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sqldb_customer_csv_sink_ds",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "customer_copy"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-06T12:18:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}