pipeline/thresholdvalue_pl.json
{
	"name": "thresholdvalue_pl",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_threshold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as recordcount from [saleslt].[customer]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "customer_sqldb_adls_source_ds_generic",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "customer"
						}
					}
				}
			},
			{
				"name": "threshold_if",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup1').output.firstRow.recordcount,int(activity('Lookup_threshold').output.firstRow.Prop_0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_sqldb_adls_json_threshold",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "customer_sqldb_adls_source_ds_generic",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "product_json_sink_ds_generic",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "customer_json_threshold"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_threshold",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "threshold_ds_csv_source",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-06T14:55:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}